/*---------- general page settings ----------*/
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;600&display=swap');

body {
    font-size: 0,8em;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

html {
    scroll-behavior: smooth;
}


/*-------------- header settings -------------*/
header {
    width: 100%;
    background: #2C8770;
    padding: 15px 0;
}

.nav {
    display: flex;
    justify-content: center;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    cursor: pointer;
}

.nav-item {
    margin: 0 25px;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    text-decoration: underline;
    font-weight: bold;
    box-shadow: 0 5px 10px -5px rgb(255, 255, 255);
}


/*--------------- main settings --------------*/
main {
    display: flex;
    width: 100%;
    max-width: 1200px;
}

.left-column {
    width: 35%;
    background: linear-gradient(#2C8770, #12342C);
    box-sizing: border-box;
}

.right-column {
    background-color: #e8f7f1;
    width: 65%;
    padding: 0 40px;
    box-sizing: border-box;
}

.name {
    text-align: center;
    margin: 40px 0 0 0;
    text-transform: uppercase;
}

 .job {
    text-align: center;
    margin: 0 0 40px 0;
    text-transform: uppercase;
}

.section {
    margin-bottom: 20px;
}

.right-title {
    background: #2B826D;
    padding: 5px 20px;
    color: white;
}

.left-title {
    color: white;
    padding: 20px 10px 5px 20px;
}

.foto img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.about-me {
    margin: 0 20px;
}


.contacts-list, .education-list, .languages-list {
    padding: 0;
    margin: 0 10px 20px 40px;
    color: white;
}

.example {
    margin: 0 20px;
}

.code-example {
    margin: 20px 0;   
}


@media (max-width: 768px) {
    .left-column {
        width: 100%;
    }
    
    .right-column {
        width: 100%;
    }
}
/*-------------- footer settings -------------*/
footer {
    width: 100%;
    background: #12342C;
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
}

footer p {
    margin: 10px 0 0 0;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
    margin: 10px 0 0 0;
}

.logo img {
    width: 30px;
    height: auto;
}